<!DOCTYPE html>

<html>
  <head>
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Timestamp Microservice</h1>
      <hr />
      <form>
        <label for="inputTime">Enter a date or timestamp:</label>
        <div class="input-container">
          <input
            type="text"
            id="userInput"
            name="userInput"
            placeholder="eg:yyyy-mm-ddT00:00 or 1451001600000"
          />
          <button class="btn">Get timestamp</button>
        </div>
      </form>
      <div id="responseBox"></div>
      <div class="footer">
        <p>
          A <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a> project
          by
          <a href="https://github.com/fccJashCoda">JashCoda</a>
        </p>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
